body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    text-decoration: underline;
}

#main{
    color: yellow;
    text-decoration: underline;
    text-align: center;
}

#sub{
    color: blue;
    
}